.DS_Store
*.elc
\#*
bookmarks
backup
backup.*
org-clock-save.el
ac-comphist.dat
tramp
elpa
var
eshell
ido.last
recentf
vendor
.cask
emms
url
auto-save-list
projectile-bookmarks.eld
projectile.cache
saveplace
projectile.cache
projectile-bookmarks.eld
ac-comphist.dat
auto-save-list